*{
    margin: 0;
}
.banner{
    position: relative;
    
}
.banner img{
    max-width: 100%;
    height: auto;
}
.banner-description{
    position: absolute;
    top: 40%;
    width: 40%;
    padding: 20px;
    font-weight: 600px;
    box-sizing: border-box;
    color: white;
    margin-left: 800px;
    box-sizing: border-box;
    text-align: right;

    
}
.heading{
    font-size: 40px;
    margin-bottom: 20px;
}
.btn-primary{
    width: 120px;
    height: 33px;
    border: none;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: teal;
    color: white;
}
.section{
    margin: 30px 150px;
    display: flex;
}
.section-head{
    width: 600px;
    margin-top: 200px;
    margin-left: 80px;
}
.heading-1{
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 30px;
}
.heading-content{
    justify-content: center;
    margin-bottom: 30px;

}
.list{
    line-height: 30px;
}
.main{
    display: flex;
    margin-top: 100px;
    margin: 40px;
    justify-content: space-between;


}
.main-header{
    margin-top: 120px;
    text-align: center;
}
.header-box{
    text-align: center;
    margin-top: 20px;
  
    
}
.box-heading{
    margin-top: 20px;
}
.alwayes{
    margin-top: 150px;
   margin-left: 100px;
   position: relative;
}
.alwayes img{
    max-width: 100%;
    height: auto;
}
.headding{
    position: absolute;
    top: 80px;
    width: 30%;
    left: 20px;
    font-size: 20px;
    color: white;
}

/* future section */
.future{
    width: 100% auto;
    height: 400px;
    background: black;
    margin-top: 150px;
    color: white;
  

}
.future-section{ 
    top: 160px;
    width: 50%;
    display: flex;
    margin: 20px;
   text-align: center;
}

